<%- include("template/cabezera",{titulo: "Titulo Pagina de Servicio"}) %>
<body>
  <%- include("template/navbar") %>
  <h1>Este es mi servicio</h1>
  <h2><%= servicio %></h2>
  <%- include("template/footer") %>
</body>
